<div class="blogs-container">
  <nz-list nzItemLayout="vertical">
    <nz-list-item *ngFor="let item of items">
      <nz-list-item-meta>
        <nz-list-item-meta-avatar [nzSrc]="'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png'"> </nz-list-item-meta-avatar>
        <nz-list-item-meta-title>
          <a [routerLink]="['/blog-details', item.id]">{{ item.title }}</a>
        </nz-list-item-meta-title>
        <nz-list-item-meta-description>
          <!--{{ accountService.getNickname() }}-->
        </nz-list-item-meta-description>
      </nz-list-item-meta>
      {{ item.text }}
      <ul nz-list-item-actions>
        <nz-list-item-action><i nz-icon nzType="star-o" style="margin-right: 8px;"></i> 156</nz-list-item-action>
        <nz-list-item-action><i nz-icon nzType="star-o" style="margin-right: 8px;"></i> 156</nz-list-item-action>
        <nz-list-item-action><i nz-icon nzType="star-o" style="margin-right: 8px;"></i> 2</nz-list-item-action>
      </ul>
      <nz-list-item-extra>
        <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png" />
      </nz-list-item-extra>
    </nz-list-item>
  </nz-list>
</div>
