<button nz-button [nzType]="'primary'" (click)="showModal()"><span>Add new</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Enter information about your blog!"
          (nzOnCancel)="handleCancel()" (nzOnOk)="addBlog(newTitle, newText);
                                                  newTitle='';newText=''">
  <ng-container *nzModalContent>
    <input placeholder="Enter title" [(ngModel)]="newTitle" />
    <p></p>
    <nz-mention [nzSuggestions]="suggestions">
      <textarea nz-input [nzAutosize]="{ minRows: 4, maxRows: 4 }"
                placeholder="Enter text" [(ngModel)]="newText" nzMentionTrigger> </textarea>
    </nz-mention>
  </ng-container>
</nz-modal>

<h4>My blogs:</h4>
<div class="blogs-container">
  <ng-container *ngFor="let item of items">
    <div class="card">
      <nz-card [nzBordered]="false">
        <div [routerLink]="['/blog-details', item.id]">{{ item.title }}</div>
        <p class="text-container">{{item.text}}</p>
        <div>
          <a nz-popconfirm
             nzPopconfirmTitle="Are you sure delete this blog?"
             (nzOnConfirm)="deleteBlog(item.id)"
             nzPopconfirmPlacement="right">
            <i nz-icon nzType="delete"
               nzTheme="outline" class="icon"></i>
          </a>
          <a>
            <i nz-icon nzType="edit" nzTheme="outline" class="icon"
               (click)="item.isEdit=true;item.newTitle=item.title;
           item.newText=item.text;"></i>
          </a>
          <div *ngIf="item.isEdit">
            <textarea rows="2" nz-input [(ngModel)]="item.newTitle"></textarea>
            <textarea rows="6" nz-input [(ngModel)]="item.newText"></textarea>
            <button (click)="editBlog(item.id,item.newTitle,item.newText);
              item.isEdit=false;item.newTitle='';item.newText=''">
              Save
            </button>
            <button (click)="item.isEdit=false">Cancel</button>
          </div>
        </div>
      </nz-card>
    </div>
  </ng-container>
</div>
