<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <div nz-menu nzTheme="dark" nzMode="horizontal">
      <a nz-menu-item routerLinkActive="ant-menu-item-selected"
         [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/'">Welcome</a>
      <a nz-menu-item routerLinkActive="ant-menu-item-selected"
         *ngIf="accountService.getNickname()"
         [routerLink]="'/my-blogs'">My blogs</a>
      <a nz-menu-item routerLinkActive="ant-menu-item-selected"
         *ngIf="!accountService.getNickname()"
         [routerLink]="'/account/login'">Login</a>
      <a nz-menu-item routerLinkActive="ant-menu-item-selected"
         *ngIf="accountService.getNickname()"
         [routerLink]="'/account/logout'">Logout</a>
      <a nz-menu-item routerLinkActive="ant-menu-item-selected"
         *ngIf="!accountService.getNickname()"
         [routerLink]="'/account/register'">Register</a>
      <a nz-menu-item *ngIf="accountService.getNickname()"
         >NickName: {{ accountService.getNickname() }}</a>
    </div>
  </nz-header>
  <nz-content>

    <div class="inner-content">

      <router-outlet></router-outlet>

    </div>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>
