.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.account-info {
  width: 120px;
  height: 31px;
  color: red;
  margin: 16px 24px 16px 0;
  right: 0px;
  position: absolute;
}

[nz-menu] {
  line-height: 64px;
}

nz-layout {
  height: 100%;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  height: 100%;
  overflow-y: auto;
}
